{{!< ../default}}

<header class="header-outer">
	<div class="header-inner container" role="banner" itemscope itemtype="http://schema.org/WPHeader">
		{{#if @site.logo}}
			<h2 class="site-title title"><a class="site-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a></h2>
		{{else}}
			<h2 class="site-title title"><a title="{{@site.title}}" href="{{@site.url}}" itemprop="headline">{{{@site.title}}}</a></h2>
			<p class="site-description" itemprop="description">{{@site.description}}</p>
		{{/if}}
	</div>
	{{> memberpanel}}
</header>

<div class="main-outer site-signin" id="memberpage">
	<main class="main-inner clearfix">
		<article class="post">
			<section class="section container-center container-small">
				{{#if @member}}

			        {{!-- Logged in: Redirect home --}}
			        <script>window.location = '{{@site.url}}';</script>

			    {{else}}

			        {{!-- Not logged in: Signin form --}}
					<div class="member-form text-center mb-big">
					    <h1 class="title widget-title mb-small">Welcome back!</h1>
					    <p>Sign into your account again for full access</p>
					    <form class="signin-form my-regular" data-members-form="signin">
				            <div class="signin-box form-input">
				                <input class="subscribe-email" data-members-email type="email" placeholder="Your email address" required="true" autocomplete="false" />
				                <button class="button primary" type="submit">
				                    <span class="button-content button-label">Send login link</span>
									<span class="hide button-loader">{{> "loader"}}</span>
				                </button>
				            </div>
				            <div class="hide message message-success"><strong>Great!</strong> Check your inbox and click the link to complete signin</div>
				            <div class="hide message message-error">Please enter a valid email address!</div>
				        </form>
						<p><small>Don't have an account yet? <a href="{{@site.url}}/signup/">Sign up</a></small></p>
					</div>

			    {{/if}}
			</section>
		</article>
	</main>
</div>
